/* https://kaushikmondalwebskitters.github.io/supersede/style.css */

/*! locomotive-scroll v3.1.7 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth,
html.has-scroll-smooth body {
    overflow: hidden;
}

html.has-scroll-dragging,
html.has-scroll-dragging * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.c-scrollbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 8px;
    height: 100vh;
    transform-origin: center right;
    transition: transform 0.3s, opacity 0.3s, background 0.3s;
    opacity: 1;
    background-color: rgba(255, 255, 255, 0);
    z-index: 110;
    mix-blend-mode: difference;
}

.c-scrollbar:hover {
    transform: scaleX(1.45);
}

.c-scrollbar:hover,
.has-scroll-dragging .c-scrollbar,
.has-scroll-scrolling .c-scrollbar {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.05);
}

.has-scroll-dragging .c-scrollbar {
    background-color: rgba(255, 255, 255, 0.2);
}

.c-scrollbar_thumb {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    width: 0.2vw;
    margin: 0.1vw;
    cursor: -webkit-grab;
    cursor: grab;
    border-radius: 1vw;
}

.has-scroll-dragging .c-scrollbar_thumb {
    cursor: -webkit-grabbing;
    cursor: grabbing;
    background-color: rgba(5, 6, 18, 1);
}

/*--end locomotive scrollbar--*/

/* loader start */
.loader {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: fixed;
    transition: opacity .3s cubic-bezier(.165, .84, .44, 1);
    will-change: opacity;
    z-index: 9999999999999;
}

.loader-side {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: #000000;
    position: absolute;
    transition: transform 1.6s cubic-bezier(.86, 0, .12, 1);
    will-change: transform
}

.loader_left {
    left: 0;
    transform-origin: left
}

.loader_left,
.loader_right {
    height: 100vh;
    top: 0;
    width: 49.9999999968vw
}

.loader_right {
    right: 0;
    transform-origin: right
}

.loader_top {
    top: 0;
    transform-origin: top
}

.loader_bottom,
.loader_top {
    height: 49.999999995vh;
    left: 0;
    width: 100%
}

.loader_bottom {
    bottom: 0;
    transform-origin: bottom
}

.loader.isEnding .loader_left,
.loader.isEnding .loader_right {
    transform: scaleX(0)
}

.loader.isEnding .loader_bottom,
.loader.isEnding .loader_top {
    transform: scaleY(0)
}

.loader_logo .loader_logo_img {
    transition: opacity .3s ease;
    will-change: opacity;
    animation: loaderFadeInOut 2.5s infinite;
}

@keyframes loaderFadeInOut {
    0% {
        opacity: 1
    }

    50% {
        opacity: .2
    }

    to {
        opacity: 1
    }
}

.loader.isEnding .loader_logo {
    opacity: 0
}

.loader.isEnding {
    pointer-events: none;
}

/* loader end */

.supersede-header {
    opacity: 0;
    pointer-events: none;
}

.supersede-header.active {
    opacity: 1;
    pointer-events: all;
}

.supersede-nav-btn:hover .supersede-nav-btn-circle-icon,
.supersede-tertiary-btn:hover .supersede-tertiary-btn-circle-icon {
    animation: navBtnArrowHover .6s ease
}

@keyframes navBtnArrowHover {
    49% {
        opacity: 0;
        transform: translate3d(50%, 0, 0)
    }

    50% {
        opacity: 0;
        transform: translate3d(-50%, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.supersede-primary-btn:hover .supersede-primary-btn-text,
.supersede-primary-btn-outline:hover .supersede-primary-btn-text {
    /* animation: BtnTextHover .6s ease */
}

@keyframes BtnTextHover {
    49% {
        opacity: 0;
        transform: translate3d(0, -50%, 0)
    }

    50% {
        opacity: 0;
        transform: translate3d(0, 50%, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.building-manufacturing-slider .slick-dots {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5vw;
    width: 73.125vw;
    padding-left: 0.938vw;
    padding-right: 0.938vw;
    left: 50%;
    transform: translate(-50%, 0);
    list-style: none;
    display: flex;
    z-index: 99;
}

/* .building-manufacturing-slider .slick-slide {
    transform: translate3d(100%, 0, 0);
    transition: transform 0s cubic-bezier(.165,.84,.44,1);
    will-change: transform;
}

.building-manufacturing-slider .slick-slide.slick-cloned .building-manufacturing-slider-box {
    transform: translate3d(-100%, 0, 0);
    transition: transform 0s cubic-bezier(.165,.84,.44,1);
    width: 100%;
    will-change: transform;
}

.building-manufacturing-slider .slick-slide.slick-current {
    transform: none;
    transition: transform 1.2s cubic-bezier(.165,.84,.44,1);
    z-index: 1;
}

.building-manufacturing-slider .slick-slide.slick-current .building-manufacturing-slider-box {
    transform: none;
    transition: transform 1.2s cubic-bezier(.165,.84,.44,1);
} */

.building-manufacturing-slider .slick-dots li {
    width: 50%;
    text-align: center;
    font-weight: 600;
    font-size: 1.5vw;
    line-height: 1.5em;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    padding: 0 0.625vw;
}

.building-manufacturing-slider .slick-dots li a {
    position: relative;
    color: #FFFFFF;
    opacity: 0.5;
    overflow: hidden;
    display: block;
    cursor: pointer;
    padding: 0 0 1.225vw;
}

.building-manufacturing-slider .slick-dots li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.25vw;
    background: rgba(217, 217, 217, 0.50);
}

.building-manufacturing-slider .slick-dots li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.25vw;
    background: rgba(217, 217, 217, 1);
    transition: width 0.4s ease-in-out;
}

.building-manufacturing-slider .slick-dots li.slick-active a,
.building-manufacturing-slider .slick-dots li a:hover {
    opacity: 1;
}

.building-manufacturing-slider .slick-dots li.slick-active a::before,
.building-manufacturing-slider .slick-dots li a:hover::before {
    width: 100%;
}

.supersede-nav-menu-link::after {
    content: "";
    background-color: #ffffff;
    bottom: 2.3vw;
    height: 0.063vw;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1), background-color .3s ease;
    transition-delay: 0s;
    width: 100%;
}

.supersede-nav-menu-link.w--current::after,
.supersede-nav-menu-link:hover::after,
.nav-dropdown-new:hover .supersede-nav-menu-link::after {
    transform: scaleX(1);
    transform-origin: left;
    transition-delay: .1s;
}

.ftr-box-menu-list-item-link::after,
.ftr-tile-link::after {
    content: "";
    background-color: #ffffff;
    bottom: 0;
    height: 0.063vw;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1), background-color .3s ease;
    transition-delay: 0s;
    width: 100%;
}

.ftr-box-menu-list-item-link:hover::after,
.ftr-tile-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
    transition-delay: .1s;
}

/* .supersede-video-wrap {
    transform-origin: top;
    transition: all 1.2s cubic-bezier(.165,.84,.44,1);
    transition: all 1.2s cubic-bezier(.165,.84,.44,1);
    transition: all 1.2s cubic-bezier(.165,.84,.44,1), all 1.2s cubic-bezier(.165,.84,.44,1);
}

.supersede-video-block-inner {
    transition: all 1.2s cubic-bezier(.165,.84,.44,1);
    transition: all 1.2s cubic-bezier(.165,.84,.44,1);
    transition: all 1.2s cubic-bezier(.165,.84,.44,1), all 1.2s cubic-bezier(.165,.84,.44,1);
}

.supersede-video-item {
    transition: all .4s ease-in-out;
} */

/* .supersede-video-block-inner.active {
    padding: 10vw;
}

.supersede-video-block-inner.active .supersede-video-wrap {
    -webkit-clip-path: path("M1345.17 731.991C1287.85 731.991 431.714 730.757 389.185 731.991C317.069 732.4 317.686 719.037 288.717 691.895C259.748 664.752 45.2505 445.764 19.363 418.005C-6.52455 390.246 -5.90818 340.28 26.7594 307.586C59.427 274.892 241.256 91.6824 296.729 34.9306C352.202 -21.8213 416.305 2.85345 451.438 34.9306C486.571 67.0077 722.024 291.547 757.774 327.326C793.523 363.104 850.229 330.41 850.229 284.145V162.622C850.229 123.759 874.267 71.3256 945.766 71.3256H1340.86C1386.47 70.7088 1429 107.104 1429 163.239V635.759C1429 685.109 1402.5 731.991 1345.17 731.991Z");
    clip-path: path("M1345.17 731.991C1287.85 731.991 431.714 730.757 389.185 731.991C317.069 732.4 317.686 719.037 288.717 691.895C259.748 664.752 45.2505 445.764 19.363 418.005C-6.52455 390.246 -5.90818 340.28 26.7594 307.586C59.427 274.892 241.256 91.6824 296.729 34.9306C352.202 -21.8213 416.305 2.85345 451.438 34.9306C486.571 67.0077 722.024 291.547 757.774 327.326C793.523 363.104 850.229 330.41 850.229 284.145V162.622C850.229 123.759 874.267 71.3256 945.766 71.3256H1340.86C1386.47 70.7088 1429 107.104 1429 163.239V635.759C1429 685.109 1402.5 731.991 1345.17 731.991Z");
    transform-origin: center;
    width: 100%;
    will-change: transform;
    transition: all 1.2s cubic-bezier(.165,.84,.44,1);
    overflow: hidden;
}

.supersede-video-wrap.active .supersede-video-item {
    height: 50vh;
} */

[data-line]>* {
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

[data-line] span:first-child {
    transition-delay: 0s;
}

[data-line] span:nth-child(2n) {
    transition-delay: 0.1s;
}

[data-line] span:nth-child(3n) {
    transition-delay: 0.2s;
}

[data-line] .active {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.fig_points {
    opacity: 1 !important;
}

.building-manufacturing-block {
    height: 100vh;
    max-height: 45vw;
}

.building-manufacturing-slider.slick-slider {
    height: 100%;
}

.building-manufacturing-slider .slick-list {
    height: 100%;
}

.building-manufacturing-slider .slick-track {
    height: 100%;
}

.building-manufacturing-head-title,
.building-manufacturing-head-text,
.vd-btn {
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.building-manufacturing-head-text {
    transition-delay: 0.1s;
}

.vd-btn {
    transition-delay: 0.1s;
}

.building-manufacturing-slider .slick-slide.slick-current .building-manufacturing-head-title,
.building-manufacturing-slider .slick-slide.slick-current .building-manufacturing-head-text,
.building-manufacturing-slider .slick-slide.slick-current .vd-btn {
    opacity: 1;
    transform: translateY(0px);
}

.building-manufacturing-slider .slick-slide {
    transition: unset !important;
    left: 0 !important;
    position: absolute !important;
    height: 100vh;
    opacity: 1 !important;
}

.building-manufacturing-image {
    position: absolute;
    bottom: 0;
    z-index: 90;
}

.building-manufacturing-slider .slick-slide.slick-current .building-manufacturing-image {
    z-index: 99;
    animation: text-clip4 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
    -webkit-animation: text-clip4 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}



@-webkit-keyframes text-clip4 {
    from {

        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    to {
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
}

@keyframes text-clip4 {
    from {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    to {
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }
}


.supersede-video-block-inner .supersede-video-wrap {
    -webkit-mask-image: url(https://uploads-ssl.webflow.com/659801cf81794869cad57b69/65fa9d25154ecc79d46180ce_video-mask-new.svg);
    mask-image: url(https://uploads-ssl.webflow.com/659801cf81794869cad57b69/65fa9d25154ecc79d46180ce_video-mask-new.svg);
    -webkit-mask-size: 1600% 1600%;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-size: 1600% 1600%;
    mask-position: center;
    mask-repeat: no-repeat;
    transition: 1s;
}

.supersede-video-block-inner.active .supersede-video-wrap {
    -webkit-mask-size: 70% 70%;
    mask-size: 70% 70%;
}

.vid-top-logo,
.vid-bbtm-logo {
    transition: all .4s ease-in-out;
}

.supersede-video-block-inner.active .vid-top-logo,
.supersede-video-block-inner.active .vid-bbtm-logo {
    opacity: 0;
}

/* .supersede-video-block-inner.active .supersede-video-wrap .supersede-video-item {
    height: 50vh;
} */

/* .supersede-video-item {
    height: 50vh;
}

.supersede-video {
    height: 100vh;
    overflow: auto;
}

.supersede-video-item:last-child {
    transform: translateY(50vh);
    transition: all .4s ease-in-out;
}

.supersede-video-item:first-child .vid-top-logo {
    transform: translateY(50vh) translateX(-50%);
}

.vid-top-logo,
.vid-bbtm-logo {
    transition: all .4s ease-in-out;
}

.supersede-video-block-inner.active .vid-top-logo,
.supersede-video-block-inner.active .vid-bbtm-logo  {
    opacity: 0;
}

.supersede-video-block-inner.active .supersede-video-item:last-child {
    transform: translateY(0);
}*/

.supersede-header.hideNav {
    transform: translateY(-100%);
}

.supersede-header.scroll_nav {
    box-shadow: 0 0px 13px rgba(255, 255, 255, 0.25);
}

.nav-dropdown-new-list.w--open>.nav-dropdown-line,
.nav-dropdown-new-list.w--open {
    animation: fadeInMenu 0.5s;
    -webkit-animation: fadeInMenu 0.5s;
    -moz-animation: fadeInMenu 0.5s;
    -o-animation: fadeInMenu 0.5s;
    -ms-animation: fadeInMenu 0.5s;
}

.new-cta-logo.active .logo-mask-video {
    opacity: 1;
    -webkit-mask-image: url(https://assets-global.website-files.com/659801cf81794869cad57b69/65f832c234acd4d6dc6b4737_Group%20209.svg);
    mask-image: url(https://assets-global.website-files.com/659801cf81794869cad57b69/65f832c234acd4d6dc6b4737_Group%20209.svg);
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
}

.new-cta-logo.active .new-cta-logo-img {
    opacity: 0;
}

.building-manufacturing-bg {
    transform: scale(1.4);
    width: 100%;
    will-change: transform;
    transition: transform 2s cubic-bezier(.165, .84, .44, 1);
}

.building-manufacturing-ftr.active .building-manufacturing-bg {
    transform: none;
    transition: transform 2s cubic-bezier(.165, .84, .44, 1);
}

.building-manufacturing-head {
    opacity: 0;
    transition: all .3s ease-in-out;
}

.slick-current.slick-active .building-manufacturing-head {
    opacity: 1;
}

.feature-slider-main-innr {
    height: 100vh;
}

.feature-slider-item {
    height: 100%;
    width: 100%;
    position: absolute!important;
    top: 0!important;
    left: 0!important;
    opacity: 1!important;
    transition: unset!important;
    z-index: 99!important;
}

.feature-slider-item.active .p-block-right-bg,
.feature-slider-item.slick-current.slick-active .p-block-right-bg {
    z-index: 99;
    animation: slide-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
    -webkit-animation: slide-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
}

.feature-slider-item.slick-current.slick-active {
    z-index: 999999 !important;
    /* animation: slide-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both;
    -webkit-animation: slide-clip 1s 0s cubic-bezier(0.5, 0, 0.1, 1) both; */
}

/* .p-block-right-bg {
    opacity: 0;
}

.feature-slider-item.slick-current.slick-active .p-block-right-bg {
    opacity: 1;
} */

.p-block-wrapper.new {
    z-index: 99;
    /* opacity: 0;
    visibility: hidden; */
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.feature-slider-item.active .p-block-wrapper.new,
.feature-slider-item.slick-current.slick-active .p-block-wrapper.new {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.feature-slider-item.prev,
.feature-slider-item.next {
    z-index: 90;
}

@-webkit-keyframes slide-clip {
    from {
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes slide-clip {
    from {
        -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    to {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

.p-block-column>* {
    opacity: 0;
    transform: translateY(30px);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.feature-slider-item.active .p-block-column>*,
.feature-slider-item.slick-current.slick-active .p-block-column>* {
    opacity: 1;
    transform: translateY(0px);
}

.fe-head-icon {
    transform: scale(0);
    transition: all .4s ease-in-out;
}

.feature-slider-item.active .fe-head-icon,
.feature-slider-item.slick-current.slick-active .fe-head-icon  {
    transform: scale(1);
}

.slick-slide .fe-head-icon {
    display: inline-block!important;
}

.marine-half-slider .slick-list {
    height: 100%;
}

.marine-half-slider .slick-track {
    height: 100%;
}

.marine-half-slider .slick-dots {
    position: absolute;
    top: 50%;
    left: 2.55vw;
    padding: 0;
    margin: 0;
    list-style: none;
    transform: translate(0, -50%);
}

.marine-half-slider .slick-dots li {
    margin: 0.5vw 0;
}

.marine-half-slider .slick-dots li button {
    width: 1.1vw;
    height: 1.1vw;
    padding: 0;
    font-size: 0;
    background: transparent;
    border: 1px solid #d0fd04;
    transition: all .4s ease-in-out;
}

.marine-half-slider .slick-dots li.slick-active button {
    background: #d0fd04;
}

.table-box.new thead {
    background: #000000;
}

.table-box.new th {
    padding: 1vw 1.5vw;
    border-right: .063vw solid rgba(255, 255, 255, 0.15);
    font-size: 1.2vw;
}

.table-box.new td {
    padding: 0.85vw 1.5vw;
    color: #000000;
    border-bottom: .063vw solid rgba(6, 5, 4, 0.10);
    border-right: .063vw solid rgba(6, 5, 4, 0.10);
    font-size: 0.953vw;
}

.table-box.new td:last-child {
    border-right: none;
}

.table-box.new tbody tr:last-child td {
    border-bottom: none;
}

.green-white-circle::before {
    top: 0;
    left: 0;
}

.sb-block-marine-sep-circle,
.sb-block-marine-sep-circle::before {
    content: " ";
    border-radius: 50%;
    background-color: transparent;
    border: 0.063vw solid #ffffff;
}

.sb-block-marine-sep-circle::before {
    animation: mymove 2s infinite;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.38);
    width: 100%;
    height: 100%;
}

.sb-block-marine-sep {
    width: calc(100% - 1.5vw);
}

.sb-block-marine-column.right .sb-block-marine-sep {
    margin-left: 1.8vw;
}

[transparent-header] .supersede-header {
    background: transparent;
    border-bottom: 0.063vw solid rgba(255, 255, 255, 0.4);
}

[transparent-header] .supersede-header.scroll_nav {
    background: #000000;
    border-color: transparent;
}

[transparent-header] .nav-dropdown-new-list {
    background-color: rgba(226,226,226,0.30);
}

/* RESPONSIVE START */

@media (max-width: 1200px) and (min-width: 992px) {
    .supersede-body {
        font-size: 1.3vw;
    }

    .supersede-navbar-brand {
        width: 17.125vw;
    }

    .supersede-nav-menu-link {
        font-size: 1.3vw;
    }

    .supersede-nav-menu-link::after {
        bottom: 2vw;
    }

    .supersede-nav-btn {
        font-size: 1.3vw;
    }

    .supersede-nav-btn-circle {
        width: 2vw;
        height: 2vw;
    }

    .supersede-nav-btn-circle-icon {
        width: 0.9vw;
    }

    .supersede-home-banner-subtitle {
        font-size: 1.8vw;
    }

    .supersede-home-banner-title {
        font-size: 5.45vw;
    }

    .pt {
        font-size: 1.45vw;
    }

    .supersede-subtitle {
        margin-bottom: 0.9vw;
        font-size: 1.7vw;
    }

    .supersede-primary-btn,
    .supersede-primary-btn-outline {
        font-size: 1.28vw;
    }

    .supersede-primary-btn.introducing-primary-btn {
        min-width: 28vw;
        margin-right: 2vw;
    }

    .supersede-primary-btn-outline.introducing-primary-btn-outline {
        min-width: 28vw;
    }

    .supersede-info-title {
        font-size: 2.3vw;
    }

    .supersede-info-text {
        font-size: 1.55vw;
    }

    .panel-spec-wrapper-box-table-data-new {
        min-height: 13.6vw;
        font-size: 1.39vw;
    }

    .panel-spec-header-inner-new {
        font-size: 1.7vw;
    }

    .building-manufacturing-block,
    .building-manufacturing-slider-box {
        max-height: 70vw;
    }

    .building-manufacturing-head-text {
        font-size: 1.6vw;
    }

    .supersede-tertiary-btn {
        font-size: 1.6vw;
    }

    .building-manufacturing-slider .slick-dots li {
        font-size: 1.7vw;
    }

    .building-manufacturing-slider .slick-dots {
        bottom: 6vw;
    }

    .ftr-tile {
        padding-top: 2.5vw;
    }

    .supersede-footer-right-col:first-child {
        width: 19%;
    }

    .supersede-footer-right-col:nth-child(2),
    .supersede-footer-right-col:nth-child(3) {
        width: 28%;
    }

    .ftr-box-menu {
        padding-top: 1.5vw;
        padding-right: 1vw;
    }

    .loader_logo {
        width: 12vw;
    }

    .supersede-video-block-inner.active .supersede-video-wrap {
        -webkit-mask-size: 70% 70%;
        mask-size: 90% 90%;
    }

    .ftr-btm-graphics {
        width: 18vw;
    }

    .supersede-home-banner-overlay-inner {
        padding-top: 15vw;
        padding-bottom: 5vw;
    }

    .bnr-scroll.inner {
        bottom: 1.963vw;
    }

    .banner-scroll-circle {
        width: 6vw;
        height: 6vw;
    }

    .banner-scroll-down-arrow {
        width: 2.288vw;
    }

    .banner-scroll-text {
        font-size: 1.02vw;
        top: -1.8vw;
        margin-left: -0.59vw;
    }

    .inner-banner-line {
        width: 106.463vw;
    }

    .sb-block-marine-sep-line {
        height: 0.263vw;
    }

    .fe-head-icon {
        width: 5.425vw;
        margin-bottom: 2.5vw;
    }

    .p-block-column.new {
        font-size: 1.7vw;
    }

    .p-block-wrapper.new {
        height: 100vh;
        display: flex;
        align-items: center;
    }

    .fe-head-title {
        font-size: 2.1vw;
    }

    .fe-head {
        padding-bottom: 3.6vw;
    }

    .p-spec-heading-title {
        font-size: 3.3vw;
    }

    .table-box.new th {
        padding: 1.7vw 2.3vw;
        font-size: 1.5vw;
    }

    .table-box.new td {
        padding: 1.35vw 2.3vw;
        font-size: 1.353vw;
    }

    .the-board .supersede-home-introducing-head-btn.rd-new {
        padding-top: 3.1vw;
    }

    .supersede-home-introducing-head-btn.rd-new {
        padding-top: 1.5vw;
    }

    .sd-new-copy {
        padding-top: 3.2vw;
    }

    .supersede-specification-head-text {
        font-size: 1.65vw;
        line-height: 1.6em;
    }

    .banner-scroll-link-block.for-desk {
        display: none;
    }

    .banner-scroll-link-block.for-tm {
        display: inline-block;
    }

    .panel-spec-wrapper-box-table-data-new._3rd {
        font-size: 1.4vw;
    }

    .marine-half-slider .slick-dots li button {
        width: 1.4vw;
        height: 1.4vw;
    }

    .ov-sub-content {
        width: 23vw;
        padding: 1.4vw;
        font-size: 1.4vw;
    }
}

@media (max-width: 991px) {

    /*menu toggle start*/
    .menu-toggle-sp {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
    }

    .menu-button-line:first-child {
        position: absolute;
        top: 15px;
        left: 0;
    }

    .menu-button-line:last-child {
        position: absolute;
        bottom: 15px;
        left: 0;
    }

    .menu-toggle-sp.w--open {
        z-index: 99999;
    }

    .menu-toggle-sp.w--open .menu-button-line:nth-child(2) {
        opacity: 0;
        transform: translatex(-28px);
    }

    .menu-toggle-sp.w--open .menu-button-line:first-child {
        transform: rotate(45deg);
        top: 25px;
    }

    .menu-toggle-sp.w--open .menu-button-line:last-child {
        transform: rotate(-45deg);
        top: 25px;
    }

    .supersede-nav-menu-wrapper {
        display: block !important;
        opacity: 0;
    }

    /*menu toggle end*/

    .supersede-nav-menu-link::after {
        display: none;
    }

    .building-manufacturing-block {
        max-height: 60vh;
    }

    .building-manufacturing-slider .slick-dots {
        bottom: 7vw;
        width: 92.125vw;
    }

    .building-manufacturing-slider .slick-dots li {
        font-size: 2vw;
    }

    .building-manufacturing-slider .slick-dots li a {
        padding: 0 0 1.825vw;
    }

    .ftr-box-menu-list-item-link::after,
    .ftr-tile-link::after {
        display: none;
    }

    .feature-slider-main-innr {
        height: 70vh;
    }

    .marine-half-slider .slick-dots li button {
        width: 1.6vw;
        height: 1.6vw;
    }

    .table-box.new th {
        padding: 2vw 2.3vw;
        font-size: 1.8vw;
    }

    .table-box.new td {
        padding: 2.05vw 2.3vw;
        font-size: 1.753vw;
    }

    .ov-sub-content {
        width: 28vw;
        padding: 1.9vw;
        font-size: 1.7vw;
    }
}

@media (max-width: 767px) {
    .fig_points .pt-column:nth-child(1) .pt {
        left: -19px;
        text-align: left;
    }

    .fig_points .pt-column:nth-child(2) .pt {
        right: -8px;
    }

    .fig_points .pt-column:nth-child(3) .pt {
        left: -9px;
        text-align: left;
    }

    .fig_points .pt-column:nth-child(4) .pt {
        right: -21px;
    }

    .fig_points .pt-column:nth-child(5) .pt {
        left: -1px;
        text-align: left;
    }

    .fig_points .pt-column:nth-child(6) .pt {
        right: -27px;
    }

    .building-manufacturing-block {
        max-height: 500px;
    }

    .building-manufacturing-slider .slick-dots li {
        font-size: 15px;
        padding: 0 6px;
        letter-spacing: 0.12em;
    }

    .building-manufacturing-slider .slick-dots li a {
        padding: 0 0 8px;
    }

    .building-manufacturing-slider .slick-dots li a::after,
    .building-manufacturing-slider .slick-dots li a::before {
        height: 3px;
    }

    .building-manufacturing-slider .slick-dots {
        bottom: 65px;
        width: 100%;
        max-width: 540px;
    }

    .supersede-video-block-inner .supersede-video-wrap {
        -webkit-mask-size: 1600% 1600%;
        mask-size: 3800% 3800%;
    }

    .supersede-video-block-inner.active .supersede-video-wrap {
        -webkit-mask-size: 90% 90%;
        mask-size: 90% 90%;
    }

    .table-box.new th {
        padding: 14px 20px;
        font-size: 14px;
    }

    .table-box.new td {
        padding: 14px 20px;
        font-size: 14px;
    }

    .marine-half-slider .slick-dots {
        top: unset;
        bottom: 26px;
        transform: unset;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .marine-half-slider .slick-dots li {
        margin: 0 5px;
        line-height: 1;
    }

    .marine-half-slider .slick-dots li button {
        width: 16px;
        height: 16px;
    }

    .ov-sub-content {
        width: 195px;
        padding: 15px 15px;
        font-size: 14px;
        border: none;
    }

    .feature-slider-main-innr {
        height: 100vh;
    }
}

@media (max-width: 479px) {
    .building-manufacturing-block {
        max-height: 550px;
    }

    .ov-sub-content {
        font-size: 12px;
    }
}
